@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-theme {
  --primary: #67b8ff;
  --primary-dark: #2f99ff;
  --primary-light: #bddfff;
  --text: #f9f9f9;
  --text-secondary: #9c9c9c;
  --paper: rgb(17 24 39);
  --paper-secondary: #474747;
  --success: #5cc25f;
  --info: #75cbf3;
  --warning: #ffc36a;
  --error: #ff8b89;
  --shadow: #3d3a3a;
  --success-light: #caf2ca;
  --success-dark: #36c040;
  --info-light: #ade0f8;
  --info-dark: #00a8ea;
  --warning-light: #ffdba6;
  --warning-dark: #fb9900;
  --error-light: #ffc5ca;
  --error-dark: #f45c5d;
  --primary-channel: 103, 184, 255;
  --primary-dark-channel: 47, 153, 255;
  --primary-light-channel: 189, 223, 255;
  --text-channel: 249, 249, 249;
  --text-secondary-channel: 156, 156, 156;
  --paper-channel: 21, 22, 24;
  --paper-secondary-channel: 71, 71, 71;
  --success-channel: 127, 226, 130;
  --info-channel: 117, 203, 243;
  --warning-channel: 255, 195, 106;
  --error-channel: 255, 139, 137;
  --shadow-channel: 61, 58, 58;
  --color-scheme: dark;
}

input {
  color-scheme: dark;
}
